p {
	font-family: sans-serif;
	color: #FFFFFF;
}

#awesomeText {
				font-family: 'Times New Roman',Georgia,Serif;
				color:#FFFFFF;
}

.soft {color: #FFFFFF;}
.center {text-align: center;}
.container {margin: 0 auto;}

body {
	background-image: url(water_droplets.jpeg);
	background-size: cover;
	background-repeat: no-repeat;
}